
        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f8f8f8;
            color: #333;
        }

        header {
            background-color: #4CAF50;
            color: #fff;
            text-align: center;
            padding: 1em;
            width: 50%;
            margin: 0 auto; 
        }

        h1, h2 {
            color: #4CAF50;
        }

        main {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 20px;
        }

        section {
            margin-bottom: 20px;
        }

        ul {
            list-style: none;
            padding: 0;
        }

        li {
            border-bottom: 1px solid #ddd;
            padding: 10px;
        }

        li:last-child {
            border-bottom: none;
        }
    ul {
        columns: 2;
        max-height: 250px; /* Adjust the max height as needed */
        overflow-y: auto; /* Add a vertical scrollbar when content exceeds the container height */
        list-style-type: none; /* Remove default list styling */
        padding: 0; /* Remove default padding */
    }

    ul li {
        display: list-item;
        padding: 8px; /* Add some padding for better readability */
    }